.Dados{
    background-color: #e0b0eb;
}

nome{
    font-size: x-large;
}

h1 {
    font-size: larger;
    text-align: center;
}

h2 {
    font-size: larger;
    text-align: center;
}

h3 {
    font-size: larger;
    text-align: absolute;
}

h4 {
    font-size: larger;
    text-align: absolute;
}

h5 {
    font-size: larger;
    text-align: absolute;
}